/* This file is for your main application css. */

@import "./phoenix.css";
@import "./milligram.css";

nav {
  width: 100%;
  max-width: 100%;
  background: #f4f5f6;
  border-bottom: .1rem solid #d1d1d1;
  position: fixed;
  z-index: 1;
  display: inline;
  left: 0;
  right: 0;
  top: 0;
}

.navlist {
  list-style: none;
  float: right;
  margin-bottom: 0;
  margin-top: 1rem;
}

.navlist li a {
  color: #606c76;
}

.navlist li span * {
  display: inline;
}

main {
  top: 4rem;
}

table {
  padding-bottom: 2rem;
}

td, th {
  font-size: small;
  padding: 0rem;
}

tfoot td {
  border: none;
  font-weight: bold;
}

.failed {
  background-color: #fcf8ff;
  color: #9b4dca;
}

thead th:nth-child(1) {
  width: 70%;
}

thead th:nth-child(2) {
  width: 15%;
}

thead th:nth-child(3) {
  width: 15%;
}

.letter-box {
  width: 100%;
  padding: 0rem;
}

.letter-box h1 {
  font-size: 8rem;
  margin-bottom: 0rem;
}