<section class="row">
  <span class="column">
    <div id="grades"></div>
  </span>
</section>
<script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/geras.js") %>"></script>
<script type="text/javascript">
let elm = app.init({
  node: document.getElementById("grades"),
    flags: [{"name": "t1", "passed": true, "value": 1}, {"name": "t2", "passed": true, "value": 2}, {"name": "t3", "passed": false, "value": 3}]
});
</script>
